body{

    margin: 0px;
    padding: 0px;
    background:#F3F5FC;
    
}

.container{

    margin:auto ;
    padding: 50px;
    width:100%;
    height:100%;
    width: 900px;
    height:1500px ;
    background-image:url(tecnologia-futuro880.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    
}

.logo{
    width: 100%;
    float: left;
    background-color: rgb(228, 211, 250);
    height:150px;
    margin:10px;
    border-radius:20px;
}
.left{
    float: left;
    width: 50%;
    height:70%;
    border-radius: 24px;
    background-color: rgb(133, 133, 253);

}
.right{

    float: left;
    width: 50%;
    height:70%;
    border-radius: 24px;
    background-color: rgb(104, 55, 238);
    

}

.textad{

    float: left;
    width: 80%;
    height:50px;
    margin: 1% 1% ;
    border-radius: 24px;
    background-color:none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    
}

.imgadm{

    width: 15% ;
    vertical-align: middle;
    margin: 6%;

}

.logoimg {

    margin-top: 2%;
    float: inherit;
    margin-left: 5%;
    }

.title{
        float: left;
        margin-left: 20%;
        margin:50px 10px 10px 30px;
        font-size: 40px;
        font-weight: bold;
        color: #0A3871;
        font-style:italic;
        text-align: center;



    }
.text-input {
        float: inherit;
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
        height: 70%;
        color: #0A3871;
        font-size: 20px;
        border: none;
        outline: none;
        background:#F3F5FC;
    }

#imgder{

        margin-left: 5%;
        margin-top: 20%;
        width: 90%;
        height: 50%;
    }
#texto{

        margin-left: 7%;
        margin-top: 5%;
        font-size: 30px;
        color:#d8dfe8;
        font-style:italic;
    }
#texto2 {
        float:left;
        margin-left: 5%;
        color: #0A3871;
        font-size: 20px;
        font-weight: bold;
        font-weight: center;
        width: 90%;
        height: 20%;
        border: none;
        border-radius: 24px;
        outline: none;
        font-size: 20px;
    }
#btn-encriptar{

    padding: 20px;
    width: 40%;
    height: 60%;
    border-radius: 24px;
    background: #0A3871;
    border: #0A3871;
    margin: 1px 20px;
    position: relative;
    cursor: pointer;
    transform: translate(4px);
    box-shadow: 0 9px #999; 
    

}
#btn-deencriptar{

    padding: 20px;
    width: 40%;
    height: 60%;
    border-radius: 24px;
    background: #d8dfe8;
    border: #0A3871;
    font-size: 10px;
    font-weight: bold;
    margin: 1px 4px;
    transform: translate(4px);
    box-shadow: 0 9px #999;
    position: relative;
    cursor: pointer;
    
    
    

}
#btn-copiartexto {
    
    margin: 20px 50px;
    width: 80%;
    height: 60px;
    border-radius: 24px;
    background: #d8dfe8;
    border: #0A3871;
    font-size: 30px;
    font-weight: bold;
    transform: translate(4px);
    box-shadow: 0 9px #999;
    
        
}

