body{

    margin: 0px;
    padding: 0px;
    background:#F3F5FC;
    
}
.container{

    margin: 20px;
    padding: 50px;
    width: 1200px;
    height: 1900px;
    background-image:url(tecnologia-futuro880.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-size:cover;
           
}

.logo{
    width: 1100px;
    float: left;
    background-color: rgb(228, 211, 250);
    height:150px;
    margin: 10px;
    border-radius:20px;
}

.left{
    float: left;
    width: 500px;
    height:1200px;
    margin: 30px;   
    border-radius: 24px;
    background-color: rgb(133, 133, 253);

}
.right{

    float: left;
    width: 500px;
    height:1200px;
    margin: 30px;
    border-radius: 24px;
    background-color: rgb(104, 55, 238);
    

}

.textad{

    float: left;
    width: 90px;
    height:30px;
    margin: 1% 1% ;
    border-radius: 24px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    
}

.imgadm{

    width: 40px;
    vertical-align: middle;
    margin: 10px;
    float: left;
    
}

.logoimg {

    margin-top: 2%;
    float: inherit;
    margin-left: 5%;
    }

.title{
        float: left;
        margin-left: 20%;
        margin:50px 10px 10px 30px;
        font-size: 50px;
        font-weight: bold;
        color: #0A3871;
        font-style:italic;
        text-align: center;

    }

.text-input {
        float: inherit;
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
        height: 50%;
        color: #0A3871;
        font-size: 20px;
        border: none;
        outline: none;
        background:#F3F5FC;
    }

#imgder{
        
        margin-left: 10%;
        margin-top: 10%;
        width: 400px;
        height: 400px;

    }

#texto1{

        margin-left: 7%;
        margin-top: 5%;
        font-size: 30px;
        color:#d8dfe8;
        font-style:italic;

    }

#texto2 {
        
        margin: 40px 20px 20px 20px;
        color: #0A3871;
        font-weight: bold;
        width: 90%;
        height: 30%;
        border: none;
        border-radius: 24px;
        font-size: 20px;
        
        
    }
#texto3 {
        
        font-size: 20px;
        color: #f3f6fa;
        font-weight: bold;
        float: left;


    }

#btn-encriptar{

    padding: 20px;
    width: 30%;
    height: 60%;
    margin: 50px 10px 10px 30px;
    border-radius: 24px;
    font-size: 20px;
    color: #f3f4f7;
    background: #0A3871;
    border: #0A3871;
    cursor: pointer;
    box-shadow: 0 9px #999; 
    
}

#btn-deencriptar{

    padding: 20px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    background: #d8dfe8;
    border: #0A3871;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    transform: translate(4px);
    box-shadow: 0 9px #999;
    position: relative;
    cursor: pointer;
    
    }

    #caja-texto{

        width: 100%;
        height: 100%;
        
    }

    .btn-copiar {
    
    margin: 50px 50px 50px 100px;
    width: 60%;
    height: 5%;
    border-radius: 24px;
    background: #d8dfe8;
    border: #0A3871;
    font-size: 30px;
    font-weight: bold;
    transform: translate(4px);
        
}